{% extends "base.html" %}
{% load static %}

{% block header %}
    <div class="slogan--item">
        <h1>Imie: {{ user.first_name }} </h1>
        <h1>Nazwisko: {{ user.last_name }}</h1>
        <h1>email: {{ user }}</h1></div>
{% endblock %}
{% block content %}
    <h1>
    <div>
        {% if page_obj %}
            <table>
                <thead>
                <tr>
                    <th>Oddane worki</th>
                    <th>Instytucje</th>
                    <th>Kategorie</th>
                    <th>Status</th>
                    <th>Czas i data odbioru</th>
                    <th>Miejsce odbioru</th>

                </tr>
                </thead>
                <tbody>
                {% for donation in page_obj %}


                    {% if donation.is_taken %}

                        <tr style="color: green">
                            {% else %}
                        <tr>
                    {% endif %}
                <td>{{ donation.quantity }}</td>
                <td>{{ donation.institution.name }}</td>
                <td>{% for category in donation.categories.all %}
                    {{ category }},
                {% endfor %}</td>
                <td>
                    {% if donation.is_taken %}
                        Odebrana
                    {% else %}
                        <a href="{% url 'taken-donation' donation.id %}"> Potwierdż odbiór</a>
                    {% endif %}
                </td>
                <td>{{ donation.pick_up_time }} {{ donation.pick_up_date }}</td>
                <td>{{ donation.address }} w {{ donation.city }}</td>
                </tr>


                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1>Nie masz zadnych donacji</h1>
        {% endif %}
    </div>
    </h1>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock %}